@model IEnumerable<Client>
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>52100572 - 52100014</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="asset/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="asset/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="asset/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="asset/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="asset/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="asset/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar Start -->
    <div class="container-fluid sticky-top bg-dark bg-light-radial shadow-sm px-5 pe-lg-0">
        <nav class="navbar navbar-expand-lg bg-dark bg-light-radial navbar-dark py-3 py-lg-0">
            <a asp-controller="Home" class="navbar-brand">
                <h1 class="m-0 display-4 text-uppercase text-white">52100572 - 52100014</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a class="nav-item nav-link active" asp-controller="Home">Home</a>
                    <a class="nav-item nav-link" asp-controller="Service">Service</a>
                    <a class="nav-item nav-link" asp-controller="Employee">Employee</a>
                    <a class="nav-item nav-link" asp-controller="Project">Project</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
    <!-- About Start -->
    <div class="container-fluid py-6 px-5">
        <div class="row g-5">
            <div class="col-lg-7">
                <h1 class="display-5 text-uppercase mb-4">Lorem ipsum<span class="text-primary">consectetur adipiscing elit</span> incididunt ut labore et dolore</h1>
                <h4 class="text-uppercase mb-3 text-body">Tempor erat elitr at rebum at at clita. Diam dolor diam ipsum tempor sit diam amet diam et eos labore</h4>
                <p>Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam ipsum et, tempor voluptua sit consetetur sit. Aliquyam diam amet diam et eos sadipscing labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor</p>
                <div class="row gx-5 py-2">
                    <div class="col-sm-6 mb-2">
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Perfect Planning</p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Professional Workers</p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>First Working Process</p>
                    </div>
                    <div class="col-sm-6 mb-2">
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Perfect Planning</p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>Professional Workers</p>
                        <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>First Working Process</p>
                    </div>
                </div>
                <p class="mb-4">Tempor erat elitr at rebum at at clita aliquyam consetetur. Diam dolor diam ipsum et, tempor voluptua sit consetetur sit. Aliquyam diam amet diam et eos labore</p>
                <img src="asset/img/signature.jpg" alt="">
            </div>
            <div class="col-lg-5 pb-5" style="min-height: 400px;">
                <div class="position-relative bg-dark-radial h-100 ms-5">
                    <img class="position-absolute w-100 h-100 mt-5 ms-n5" src="asset/img/about.jpg" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    
    <!-- Testimonial Start -->
    <div class="container-fluid bg-light py-6 px-5">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h1 class="display-5 text-uppercase mb-4">What Our <span class="text-primary">Happy Cleints</span> Say!!!</h1>
        </div>
        <div class="row gx-0 align-items-center">
            @if(Model != null)
            {
                foreach(var clients in Model)
                {
                    <div class="col-xl-4 col-lg-5 d-none d-lg-block">
                        <img class="img-fluid w-100 h-100" src="@clients.Image">
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-12">
                        <div class="testimonial bg-light">
                            <div class="owl-carousel testimonial-carousel">
                                <div class="row gx-4 align-items-center">
                                    <div class="col-xl-4 col-lg-5 col-md-5">
                                        <img class="img-fluid w-100 h-100 bg-light p-lg-3 mb-4 mb-md-0" src="asset/img/testimonial-1.jpg" alt="">
                                    </div>
                                    <div class="col-xl-8 col-lg-7 col-md-7">
                                        <h4 class="text-uppercase mb-0">@clients.ClientName</h4>
                                        <p>@clients.Job</p>
                                        <p class="fs-5 mb-0">
                                            <i class="fa fa-2x fa-quote-left text-primary me-2"></i>
                                            @clients.Comment
                                        </p>
                                    </div>
                                </div>
                                <div class="row gx-4 align-items-center">
                                    <div class="col-xl-4 col-lg-5 col-md-5">
                                        <img class="img-fluid w-100 h-100 bg-light p-lg-3 mb-4 mb-md-0" src="asset/img/testimonial-2.jpg" alt="">
                                    </div>
                                    <div class="col-xl-8 col-lg-7 col-md-7">
                                        <h4 class="text-uppercase mb-0">Client Name</h4>
                                        <p>Profession</p>
                                        <p class="fs-5 mb-0">
                                            <i class="fa fa-2x fa-quote-left text-primary me-2"></i> Dolores sed duo
                                            clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem
                                            lorem magna ut labore et tempor diam tempor erat. Erat dolor rebum sit
                                            ipsum.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <!-- Testimonial End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="asset/lib/easing/easing.min.js"></script>
        <script src="asset/lib/waypoints/waypoints.min.js"></script>
        <script src="asset/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="asset/lib/tempusdominus/js/moment.min.js"></script>
        <script src="asset/lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="asset/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
        <script src="asset/lib/isotope/isotope.pkgd.min.js"></script>
        <script src="asset/lib/lightbox/js/lightbox.min.js"></script>

        <!-- Template Javascript -->
        <script src="asset/js/main.js"></script>
</body>

</html>
